@{
    ViewData["Title"] = "Privacy Policy";
    string[] dt = (string[])ViewData["dataconnect"];
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<div class="row">
    <div>
        <h2>Epam Lab 2022</h2>
        <p>data from BD: </p>
        <p> ID = @ViewData["DBMessageID"] </p>
        <p> Name = @ViewData["DBMessageName"] </p>
        <p> Info = @ViewData["DBMessageInfo"] </p>
    </div>
    <div>
        <h2>The secret key from Azure:</h2>
        <p>The secret key (AlekseiKhoroshevNumber1) = @ViewData["SecretKeyFromAzure"] </p>
        <p>The secret = @ViewData["SecretFromAzure"] </p>
        <p>EpamLabTestVar = @ViewData["AzureEpamLabTestVar"] </p>
    </div>
    <div>
        <h2>Connect to DB:</h2>
        <p>selected connection = @dt[4] </p>
        <p>Connection 1: </p>
        <p>DevSecretConnectionString = @dt[0] </p>
        <p>DevSecretConnectionString Error = @dt[1] </p>
        <p>Connection 2: </p>
        <p>DefaultConnectionString = @dt[2] </p>
        <p>DefaultConnectionString Error = @dt[3] </p>
    </div>
</div>
